<nav class="nav-extended ">
  <div class="nav-wrapper">
    <a materialize="sideNav" [materializeParams]="[{closeOnClick: true, draggable: true}]"
       data-activates="mobile" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <a href="#!" class="brand-logo center">Musehen</a>
    <ul class="left hide-on-med-and-down">
      <li><a href="">all
        <img src="/assets/museum.svg" class="svg"></a></li>
      <li><a href="">museums
        <img src="/assets/sarcophagus.svg" class="svg"></a></li>
      <li><a href="">galleries
        <img src="/assets/painting.svg" class="svg"></a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="!authHelperService.isLoggedIn()" [routerLinkActive]="['active']">
        <a [routerLink]="['/login']">login</a>
      </li>
      <li *ngIf="!authHelperService.isLoggedIn()" [routerLinkActive]="['active']">
        <a [routerLink]="['/register']">register</a>
      </li>

      <li *ngIf="authHelperService.isLoggedIn()" [routerLinkActive]="['active']">
        <a [routerLink]="['/profile/me']">
          <div class="chip">
            <img [src]="profilePicUrl">
            {{username}}
          </div>
        </a>
      </li>
      <li *ngIf="authHelperService.isLoggedIn()" (click)="onLogoutClick()">
        <a>logout</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a href="">about us</a></li>
      <li class="divider"></li>
      <li *ngIf="!authHelperService.isLoggedIn()" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="routerLinkOpts"><a
        [routerLink]="['/login']">login</a></li>
      <li *ngIf="!authHelperService.isLoggedIn()" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="routerLinkOpts"><a
        [routerLink]="['/register']">register</a></li>
      <li *ngIf="authHelperService.isLoggedIn()" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="routerLinkOpts"><a
        [routerLink]="['/profile/me']"> <img [src]="profilePicUrl" class="profile-pic circle"/> {{username}}</a></li>
      <li *ngIf="authHelperService.isLoggedIn()" (click)="onLogoutClick()">
        <a>Logout</a>
      </li>
    </ul>
    <ul class="tabs tabs-transparent hide-on-large-only">
      <li class="tab"><a href="">all
        <img src="/assets/museum.svg" class="svg left-align"></a></li>
      <li class="tab"><a href="">museums
        <img src="/assets/sarcophagus.svg" class="svg left-align"></a></li>
      <li class="tab"><a href="">galleries
        <img src="/assets/painting.svg" class="svg left-align"></a></li>
    </ul>
  </div>
</nav>
