<div #carousel class="carousel carousel-slider center white-text" data-indicators="true" materialize="carousel">

  <div class="carousel-item col s12 m8 l6 offset-m2 offset-l3" href="#what!">
    <h2>Ever got lost in a museum? We are here to help you.</h2>
    <p>Musehen is an unique location guide platform aiming to help visitors and venue owners all around the world.</p>
    <p></p>
    <img src="/assets/diamond.svg" alt="diamond" class="small-svg">
    <img src="/assets/frame.svg" alt="frame" class="svg">
    <img src="/assets/relics.svg" alt="relics" class="small-svg">
  </div>
  <div class="carousel-item" href="#how!">
    <h2>How is this possible?</h2>
    <div>
      <p>Via complex algorithms we are able to anonymously track your exact location even indoors.</p>
      <p>Simply walk around and find out more about the things that catch your attention.</p>
    </div>
    <img src="/assets/exhibition.svg" alt="exhibition" class="small-svg">
    <img src="/assets/map.svg" alt="map" class="svg">
    <img src="/assets/helmet.svg" alt="helmet" class="small-svg">
  </div>
  <div class="carousel-item" href="#download!">
    <h2>Try it for free</h2>
    <div>
      <p>Available for all mobile platforms.</p>
      <p>
        <a
          href="https://github.com/Musehen/Mobile"
          target="_blank"
          class='btn btn-flat white'
          style="color: #d32f2f">
          Download now
        </a>
      </p>
    </div>
    <img src="/assets/remains.svg" alt="remains" class="small-svg">
    <img src="/assets/audio-guide.svg" alt="audio-guide" class="svg">
    <img src="/assets/book.svg" alt="book" class="small-svg">
  </div>
</div>
